# Ignore Visual Studio specific files
.vs/
MarketPlace924/.vs/

# Ignore build outputs
MarketPlace924/bin/
MarketPlace924/obj/
*.log

# Ignore .NET-related files
MarketPlace924/*.dll
MarketPlace924/*.exe
MarketPlace924/*.pdb
*.cache
*.nuget
*.nupkg
*.snupkg

# Ignore package and dependencies
MarketPlace924/packages/
node_modules/

# Ignore User-specific settings
*.userosscache
*.sln.ide

# Ignore temporary files
~$*
*.tmp
*.bak

# Ignore Rider and JetBrains files
.idea/
*.sln.DotSettings.user

# Ignore SDK-related files
sdk/
.vscode/
.env
